/*html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}*/
/*VARIABLE CSS*/

/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*VARIABLE CSS*/

:root{
	--header-height: 3rem;
    --nav-width: 68px;
	/*COLORS*/
	--first-color: #2d58c5;
	--first-color-dark: #2b468b;
	--first-color-light: #A49EAC;
	--first-color-lighten: #F2F2F2;
	--white-color: #F7F6FB;

	/*FONT AND TYPOGRAPHY*/
	--body-font: 'Open Sans', sans-serif;
	--h1-font-size: 1.5rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;

	/* Z INDEX */
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
	:root{
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
	}
}

/*BASE*/
*,::before,::after{
	box-sizing: border-box;
}


body{
	margin: 0;
	padding: 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--first-color-dark);
}

h1{
	margin: 0;
}

a{
	text-decoration: none
}

img{
	max-width: 100%;
	height: auto;
	display: block;
}

/*LOGIN*/
.login{
	display: grid;
	grid-template-columns: 100%;
	height: 100vh;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.login__content{
	display: grid;
}

.login__img{
	justify-self: center;
}

.login__img img{
	width: 310px;
	margin-top: 1.5rem;
}

.login__forms{
	position: relative;
	height: 368px;
}

.login__register, .login__create, .forgot__form{
	position: absolute;
	bottom: 1rem;
	width: 100%;
	background-color: var(--first-color-lighten);
	padding: 2rem 1rem;
	border-radius: 1rem;
	text-align: center;
	box-shadow: 0 8px 20px rgba(35,0,77,.2);
	animation-duration: .4s;
	animation-name: animate-login;
}

@keyframes animate-login{
	0%{
		transform: scale(1,1);
	}
	50%{
		transform: scale(1.1,1.1);
	}
	100%{
		transform: scale(1,1);
	}
}

.login__title{
	font-size: var(--h1-font-size);
	margin-bottom: 2rem;
}

.login__box{
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: .5rem;
	padding: 1.125rem 1rem;
	background-color: #FFF;
	margin-top: 1rem;
	border-radius: .5rem;
}

.login__icon{
	font-size: 1.5rem;
	color: var(--first-color);
}

.login__input{
	border: none;
	outline: none;
	font-size: var(--normal-font-size);
	font-weight: 700;
	color:  var(--first-color-dark);
}

.login__input::placeholder{
	font-size: var(--normal-font-size);
	font-family: var(--body-font);
	color: var(--first-color-light);
}

.login__forgot{
	display: block;
	width: max-content;
	margin-left: auto;
	margin-top: 0.5rem;
	font-size: var(--small-font-size);
	font-weight: 600;
	color: var(--first-color-light);
	cursor: pointer;
}

.login__button{
	display: block;
	padding: 1rem;
	margin: 2rem 0;
	background-color: var(--first-color);
	color: #FFF !important;;
	font-weight: 600;
	text-align: center;
	border-radius: .5rem;
	transition: .3s;
	cursor: pointer;
}

.login__button:hover{
	background-color: var(--first-color-dark);
}

.login__account, .login__signin, .login__signup{
	font-weight: 600;
	font-size: var(--small-font-size);
}

.login__account{
	color: var(--first-color-dark);
}

.login__signin, .login__signup{
	color: var(--first-color);
	cursor: pointer;
}

.login__social{
	margin-top: 2rem;
}

.login__social-icon{
	font-size: 1.5rem;
	color: var(--first-color-dark);
	margin: 0 1.5rem;
	cursor: pointer;
}

/*SHOW LOGIN*/
.block{
	display: block;
}

/*HIDDEN LOGIN*/
.none{
	display: none;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 576px){
	.login__forms{
		width: 348px;
		justify-self: center;
	}
}

@media screen and (min-width: 576px){
	.login{
		height: 100vh;
		overflow: hidden;
	}

	.login__content{
		grid-template-columns: repeat(2, max-content);
		justify-content: center;
		align-items: center;
		margin-left: 10rem;
	}

	.login__img{
		display: flex;
		width: 600px;
		height: 588px;
		background-color: var(--first-color-lighten);
		border-radius: 1rem;
		padding-left: 1rem;
	}

	.login__img img{
		width: 70%;
		height: 70%;
		margin-top: 10%;
	}

	.login__register, .login__create, .forgot__form{
		left: -11rem;
	}

	.login__register{
		bottom: -4rem;
	}

	.login__create{
		bottom: -8rem
	}
}

.vertical-center {
  /*min-height: 100%;  */
  /* Fallback for browsers do NOT support vh unit */
  /*min-height: 100vh; */
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
/******************************************************/
/*SIDE BAR DASHBOARD NAV*/

/*BODY*/
#body-pd{
	position: relative;
    margin: 4rem 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

/* HEADER */

.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transform: .5s ;
}

.header__toggle{
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* NAV */
.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}
.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo, .nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
    margin-bottom: 2rem;
}

.nav__logo-icon{
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav__logo-name{
    color: var(--white-color);
    font-weight: 700;
}

.nav__link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav__link:hover{
    color: var(--white-color);
}

.nav__icon{
    font-size: 1.25rem;
}

/* Show navbar movil */
.show:not(.alert){
    left: 0;
}

/* Add padding body movil */
.body-pd{
    padding-left: calc(var(--nav-width) + 1rem) !important;
}
/* Active Links */
.active{
    color: var(--white-color);
}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px){
    #body-pd{
        margin: calc(var(--header-height) + 2rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .l-navbar{
        left: 0;
        padding:  1rem 1rem 0 0;
    }

    /* Show navbar desktop */
    .show:not(.alert){
        width: calc(var(--nav-width) + 156px);
    }
    /* Add padding body desktop */
    .body-pd{
        padding-left: calc(var(--nav-width) + 188px) !important;
    }
}
/*overrides for bootstrap*/
.jumbotron{
  background-color: #F7F6FB !important;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
}

.profile__icon{
	font-size: 15rem;
}